<ion-footer collapse="fade" class="custom-footer">
    <ion-toolbar>
        <div class="custom-footer">
            <ion-grid>
                <ion-row>
                  <ion-col>
                    <div class="ion-text-center"><ion-icon name="home-outline" class="cus-f-icon"></ion-icon></div> 
                  </ion-col>
                  <ion-col>
                    <div class="ion-text-center"><ion-icon name="calendar-outline" class="cus-f-icon"></ion-icon></div> 
                  </ion-col>
                  <ion-col>                  
                    <div class="ion-text-center"><ion-icon routerLink="/about" name="chatbubble-outline" class="cus-f-icon"></ion-icon></div> 
                  </ion-col>
                </ion-row>
              </ion-grid>
        </div>
        
    </ion-toolbar>
  </ion-footer>
