<ion-header>
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-header></app-header>
  <p>My Name is {{myName}}</p>

  <ion-list>
    <ion-item *ngFor="let item of posts">
      <ion-label>{{item.title}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-radio-group value="biff">
      <ion-list-header>
        <ion-label>Name</ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-label>Biff</ion-label>
        <ion-radio slot="start" value="biff"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Griff</ion-label>
        <ion-radio slot="start" value="griff"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Buford</ion-label>
        <ion-radio slot="start" value="buford"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  
  <ion-button (click)="changeMyText()"></ion-button>

  <app-comments ></app-comments>
</ion-content>
