<ion-header>
  <ion-toolbar>
    <ion-title>weather</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="weather-main">
    <span class="city">
      <!-- <ion-input type="text" text-right id="input" [(ngModel)]="inputValue"></ion-input> -->
      <ion-searchbar [(ngModel)]="cityName" (ngModelChange)="getWeatherData()" animated></ion-searchbar>
    </span>
    <span class="day-time">{{res.forecast.forecastday[0].date}}</span>
    <div class="icon">
      <img src="{{res.current.condition.icon}}" alt="">
    </div>
    <span class="weather-description">{{res.current.condition.text}}</span>
    <span class="tempareture">{{res.current.temp_c}}</span>
  </div>

  <!-- 7 Day Forecast grid -->
  <ion-grid>
    <!-- Day row -->
    <ion-row>
      <ion-col class="day">{{res.forecast.forecastday[0].date_epoch | day }}</ion-col>
      <ion-col class="day">{{res.forecast.forecastday[1].date_epoch | day }}</ion-col>
      <ion-col class="day">{{res.forecast.forecastday[2].date_epoch | day }}</ion-col>
      
    </ion-row>
    <!-- Chances of Precipitation -->
    <ion-row>
      <ion-col class="precipitation">{{res.forecast.forecastday[0].day.avgtemp_c }}</ion-col>
      <ion-col class="precipitation">{{res.forecast.forecastday[1].day.avgtemp_c }}</ion-col>
      <ion-col class="precipitation">{{res.forecast.forecastday[2].day.avgtemp_c }}</ion-col>
      
    </ion-row>
    <!-- Weather icon -->
    <ion-row>
      <ion-col class="icon-sm"><img src="{{res.forecast.forecastday[0].day.condition.icon}}" alt="Weather icon"></ion-col>
      <ion-col class="icon-sm"><img src="{{res.forecast.forecastday[1].day.condition.icon}}" alt="Weather icon"></ion-col>
      <ion-col class="icon-sm"><img src="{{res.forecast.forecastday[2].day.condition.icon}}" alt="Weather icon"></ion-col>
      
    </ion-row>
    <!-- Max Temperature -->
    <ion-row>
      <ion-col class="hi-sm">{{res.forecast.forecastday[0].day.maxtemp_c}}°c</ion-col>
      <ion-col class="hi-sm">{{res.forecast.forecastday[1].day.maxtemp_c}}°c</ion-col>
      <ion-col class="hi-sm">{{res.forecast.forecastday[2].day.maxtemp_c}}°c</ion-col>
      
    </ion-row>
    <!-- Min Temperature -->
    <ion-row>
      <ion-col class="lo-sm">{{res.forecast.forecastday[0].day.mintemp_c}}°c</ion-col>
      <ion-col class="lo-sm">{{res.forecast.forecastday[1].day.mintemp_c}}°c</ion-col>
      <ion-col class="lo-sm">{{res.forecast.forecastday[2].day.mintemp_c}}°c</ion-col>
     
    </ion-row>
    
  </ion-grid>
  
</ion-content>
<app-footer></app-footer>
