<ion-header>
  <ion-toolbar>
    <ion-title>Ionic Forms</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-label position="stacked">Item One</ion-label>
          <ion-input formControlName="itemOne" type="number"></ion-input>
        </ion-item>
        <span class="error" *ngIf="isSubmitted && errorControl.itemOne.errors?.required || ionicForm.controls.itemOne.touched">
          *Must be a number.
        </span>
      </ion-col>
      <ion-col>
        <ion-item lines="full">
          <ion-label position="stacked">Item Two</ion-label>
          <ion-input formControlName="itemTwo" type="number"></ion-input>
        </ion-item>
        <span class="error" *ngIf="isSubmitted && errorControl.itemTwo.errors?.required || ionicForm.controls.itemTwo.touched">
          *Must be a number.
        </span>
      </ion-col>
      <ion-col>
        <ion-item lines="full">
          <ion-label position="stacked">Item Three</ion-label>
          <ion-input formControlName="itemThree" type="number"></ion-input>
        </ion-item>
        <span class="error" *ngIf="isSubmitted && errorControl.itemThree.errors?.required || ionicForm.controls.itemThree.touched">
          *Must be a number.
        </span>
      </ion-col>
      <ion-col>
        <ion-item lines="full">
          <ion-label position="stacked">Item Four</ion-label>
          <ion-input formControlName="itemFour" type="number"></ion-input>
        </ion-item>
        <span class="error" color="danger" *ngIf="isSubmitted && errorControl.itemFour.errors?.required || ionicForm.controls.itemFour.touched">
          *Must be a number.
        </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="success" expand="block" [disabled]="!ionicForm.valid">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>