<ion-header>
  <ion-toolbar color="success">
    <ion-title>Notice Bar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="tell2Form" (ngSubmit)="onDescSave()" class="phoneCollection">
    <h4 class="qTextContainer">TELL US WHAT HAPPENED</h4>
    <ion-item>
      <ion-label class="qTextContainer" position="floating">Item 1</ion-label>
      <ion-textarea formControlName="itemOne" ></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label class="qTextContainer" position="floating">Item 2</ion-label>
      <ion-textarea formControlName="itemTwo" ></ion-textarea>
    </ion-item>
    <ion-col>
    <ion-item>
      <ion-label class="qTextContainer" position="floating">Item 3</ion-label>
      <ion-textarea formControlName="itemThree" ></ion-textarea>
    </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label class="qTextContainer" position="floating">Item 4</ion-label>
        <ion-textarea formControlName="itemFour" ></ion-textarea>
      </ion-item>
    </ion-col>
    

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>

  
</ion-content>

<ion-footer>
  
  <ion-toolbar color="success">
    
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="danger">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-footer>